doctype html5
html
  head
    title Billancer
    meta(name='viewport' content='width=device-width, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(type='text/javascript', src='/javascripts/angular/angular.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js')
    script(type='text/javascript', src='/javascripts/validation.js')
    script(type='text/javascript', src='/javascripts/utils.js')
    script(src='/javascripts/global.js')
    script(type='text/javascript', src='/javascripts/angular/app.js')
    <!-- Latest compiled and minified JavaScript -->
    script(type='text/javascript', src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    //script(type='text/javascript', src='socket.io/socket.io.js')
    //script(type='text/javascript', src='js/sockets.js')
  body
    block content
    block app
